<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<!--    <script src="https://kit.fontawesome.com/22ad93d1da.js" crossorigin="anonymous"></script>-->
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <title>Sistema de Administración de Personas</title>
    <style>
        body {background-color:lavender;}
        h1 {font-family:Century Gothic}
    </style>
</head>
<body>
    <div class="panel panel-primary" align="center">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <h1 class="display-6">Sistema de Administración de Personas</h1>
    <p><strong>Cantidad de Personas Registradas:</strong> {{cantidad}}</p>
    </div>
    <div align="center">
        <!--<input type="button" value="Agregar Persona">-->
        <a class="btn btn-primary" href="agregar_personas"><i class="fa-solid fa-user-plus"></i></a>
    </div>
    <br>
    <div class="table-responsive" align="center">
    <table class="table table-hover table-bordered table-sm align-middle caption-top text-center table-condensed">
        <caption>Lista de personas</caption>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Sexo</th>
            <th>Email</th>
            <th>Curso</th>
        </tr>
        <tbody class="table-group-divider">
            {% for persona in personas %}
                <tr>
                    <td>{{persona.id}}</td>
                    <td>{{persona.nombre | upper}}</td>
                    <td>{{persona.apellido | upper}}</td>
                    <td>{% if persona.sexo == 'F' %} Femenino {% elif persona.sexo == 'M' %} Masculino {% endif %}</td>
                    <td>{{persona.email}}</td>
                    <td>{{persona.curso.nombre}}</td>
                    <td><a class="btn btn-secondary" href="ver_persona/{{persona.id}}"><i class="fa-solid fa-eye"></i></a></td>
                    <td><a class="btn btn-success" href="editar_persona/{{persona.id}}"><i class="fa-solid fa-user-pen"></i></a></td>
                    <td><a class="btn btn-danger" href="eliminar_persona/{{persona.id}}"><i class="fa-solid fa-user-xmark"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>




<!--
    <ul>
    {% for persona in personas %}
        <li>{{persona.nombre}} {{persona.apellido}} - {{persona.email}}</li>
    {% endfor %}
    </ul>
    <br>
    {% for nombre in nombres_personas %}
        <p>{{nombre}}</p>
    {% endfor %}
    <br>
    <br>
    -->